!#extends page_base

!#arg word TemplateWord

!#sub body

<ul>
    <li/> Front: {{s word.Front }}
    <li/> Back: {{s word.Back }}
    <li/> Primjer: {{s word.Primjer }}
    <li/> Varijante: {{s word.Varijante }}
    <li/> Sinonimi: {{s word.Sinonimi }}
    <li/> Vezano: {{s word.Vezano }}
</ul>

!for _, audioFile := range word.AudioFiles
<audio controls>
    <source src="{{s audioFile }}" type="audio/mpeg">
    Your browser does not support the audio tag.
</audio>

!end
